@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
//@import "./lib/fonts";
//@import "./lib/lightslider";
//@import "./lib/selectric";
//@import "./lib/animate";
@import "./lib/mixins";
@import "./lib/burger";
//@import "./lib/modal";

@import "header";
@import "footer";

// === main ===

.section-main {
    padding: 2.5rem 0;

    @media ($media_sm) {
        padding: 2.5rem 0 0 0;
    }

    .section-inner {
    
    }
    
    .main {
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            position: relative;
            flex-direction: column;
        }

        &-content {
            margin-top: 5.5rem;

            @media ($media_sm) {
                margin-top: 0;
            }

            &-header {

            }

            &-list {
                padding: 3.33rem 0;

                @media ($media_sm) {
                    padding: 2rem 0;
                }

                li {
                    position: relative;
                    padding-left: 1rem;

                    &:not(:last-child) {
                        margin-bottom: 0.8rem;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background-color: $color_red;
                        width: 0.5rem;
                        height: 0.5rem;
                        border-radius: 50%;
                        left: 0rem;
                        top: 50%;
                        transform: translateY(-50%);

                        @media ($media_sm) {
                            top: 0.5rem;
                            transform: none;
                        }
                    }
                }
            }

            &-btn {
                @media ($media_sm) {
                    position: absolute;
                    bottom: 4.3rem;
                    width: 100%;
                }
            }
        }

        &-img {
            width: 25rem;
            margin-right: -5rem;

            @media ($media_sm) {
                width: 65%;
                margin: 0 auto;
            }

            img {
                max-width: 100%;
            }
        }
    }
    
}

// === excel ===

.section-excel {
    padding: var(--section_padding) 0;

    .section-inner {
    
    }
    
    .excel {

        &-header {

        }

        &-text {
            width: 65%;
            margin: 2.5rem auto;
            font-size: 1.1rem;
            line-height: 1.6;
            font-weight: 500;

            @media ($media_sm) {
                width: 100%;
            }

        }

        &-img {
            width: calc(100% + 9rem);
            margin-left: -4.5rem;

            @media ($media_sm) {
                width: calc(100% + 2rem);
                margin-left: -1rem;
            }

            img {
                max-width: 100%;
            }
        }
    }
    
}

// === / excel ===

// === investors ===

.section-investors {
    padding-bottom: var(--section_padding);

    .section-inner {
    
    }
    
    .investors {

        &-text {
            width: 65%;
            margin: 2.5rem auto;
            font-size: 1.1rem;
            line-height: 1.6;
            font-weight: 500;

            strong {
                color: $color_blue;
            }

            @media ($media_sm) {
                width: 100%;
            }

        }

        &-cards {
            display: flex;
            justify-content: space-between;

            @media ($media_sm) {
                flex-direction: column;
            }

            &-card {
                flex-basis: 32%;

                @media ($media_sm) {
                    &:not(:last-child) {
                        margin-bottom: var(--section_padding);
                    }
                }

                &-icon {
                    background-color: $color_white;
                    box-shadow: 0px 44px 89px -17px rgba(62, 84, 216, 0.06);
                    border-radius: 2rem;
                    width: 20rem;
                    height: 20rem;
                    padding: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media ($media_sm) {
                        width: 90vw;
                        height: 90vw;
                    }

                    picture {

                        img {
                            max-width: 100%;
                        }
                    }
                }

                &-header {
                    margin: 2rem 0 1rem 0;
                }

                &-text {
                    strong {
                        font-weight: 600;
                    }
                }
            }
        }

        &-btn {
            text-align: center;
            margin-top: var(--section_padding);
        }
        
    }
    
}

// === / investors ===


// === comfort ===

.section-comfort {
    padding: var(--section_padding) 0 ;

    .section-inner {
    
    }
    
    .comfort {

        &-header {
            margin-bottom: var(--section_padding);
        }

        &-cards {

            &-card {
                display: flex;
                margin-bottom: -2rem;

                @media ($media_sm) {
                    flex-direction: column;
                    margin-bottom: -1rem;
                }

                &-text {
                    margin: auto 0;
                    transform: translateY(-2rem);
                    line-height: 1.6;

                    .card_header {
                        margin-bottom: 1.5rem;
                    }

                    strong {
                        font-weight: 600;
                    }
                }

                &-img {
                    min-width: 39rem;
                    margin-right: -3.8rem;

                    @media ($media_xl) {
                        min-width: 37rem;
                        margin-right: -3.8rem;
                    }

                    @media ($media_sm) {
                        margin: 0;
                        min-width: 115%;
                        margin-left: -7.5%;
                        order: -1;
                    }

                    img {
                        max-width: 100%;
                    }
                }

                &.reverse {
                    .comfort-cards-card-img {
                        order: -1;
                        margin-left: -3.8rem;
                        margin-right: -1rem;

                        @media ($media_xl) {
                            min-width: 37rem;
                            margin-right: 0rem;
                        }

                        @media ($media_sm) {
                            margin: 0;
                            min-width: 115%;
                            margin-left: -7.5%;
                        }
                    }
                }
            }
        }
    }
    
}

// === / comfort ===

// === trust ===

.section-trust {
    background-color: $color_white;
    padding: var(--section_padding) 0;

    .section-inner {
    
    }
    
    .trust {

        &-header {
            margin-bottom: 4rem;
        }

        &-cards {
            display: flex;
            justify-content: space-between;

            @media ($media_sm) {
                flex-direction: column;
            }

            &-card {
                flex-basis: 23%;
                display: flex;
                flex-direction: column;

                @media ($media_xl) {
                    flex-basis: 24%;
                }

                @media ($media_sm) {
                    align-items: center;

                    &:not(:last-child) {
                        margin-bottom: 4rem;
                    }
                }

                &-icon {
                    background: $color_white;
                    border: 1px solid $color_border_secondary;
                    box-shadow: 0px 44px 89px -17px rgba(62, 84, 216, 0.12);
                    border-radius: 2rem;

                    width: 14rem;
                    height: 14rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media ($media_sm) {
                        width: 65vw;
                        height: 65vw;
                    }

                    picture {
                        display: inline-flex;
                        justify-content: center;
                        width: 7rem;

                        @media ($media_sm) {
                            width: 9rem;
                        }

                        img {
                            max-width: 100%;
                        }
                    }
                }

                &-header {
                    min-height: 2rem;

                    h4 {
                        color: $color_black_title;
                        font-size: 1.1rem;
                        font-weight: 600;
                        margin: 2rem 0;

                        min-height: 3rem;
                        display: flex;
                        align-items: center;

                        @media ($media_sm) {
                            font-size: 1.3rem;
                        }
                    }
                }

                &-text {
                    margin-top: auto;

                    p {
                        font-size: 0.9rem;

                        @media ($media_sm) {
                            text-align: center;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        &-subheader {
            margin: var(--section_padding) 0 3rem 0;

            @media ($media_sm) {
                margin: 3rem 0;
            }

            h3 {
                font-size: 1.77rem;
                font-weight: 600;
                text-align: center;

                .mark {
                    &::before {
                        bottom: 0.2rem;
                    }
                }
            }
        }

        &-btn {
            text-align: center;
        }
    }
    
}

// === / trust ===








// === founder ===

.section-founder {
    padding: 5.55rem 0 0 0;

    @media ($media_sm) {
        padding: var(--section_padding) 0;
    }

    .section-inner {
    
    }
    
    .founder {
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;
        }

        &-content {
            margin-top: 6rem;

            @media ($media_sm) {
                margin-top: 2rem;
            }

            &-header {

            }

            &-text {
                width: 80%;
                font-size: 1.1rem;
                padding: 3rem 0;
                line-height: 1.7;

                @media ($media_sm) {
                    width: 100%;
                }

                strong {
                    font-weight: 600;
                }
            }

            &-btn {

            }
        }

        &-img {
            min-width: 30rem;

            @media ($media_sm) {
                min-width: 85%;
                max-width: 85%;
                margin: 0 auto;
                padding-left: 2rem;
                order: -1;
            }

            img {
                max-width: 100%;
            }
        }
    }
    
}

// === / founder ===

// === / main ===